<?xml version="1.0" ?>
<configuration>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
	    <rule name="Redirect to non-www" stopProcessing="true">
          <match url="(.*)" negate="false"></match>
          <action type="Redirect" url="https://pklab.ru/{R:1}"></action>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^pklab\.ru$" negate="true"></add>
          </conditions>
        </rule>
        <rule name="Redirect HTTP to HTTPS">
          <match url="(.*)" />
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent"/>
		  <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
